<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<style>
  body{
    background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FDC830,#F37335); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .cart__item-list{
  background-color: #fff;
}
</style>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <ul class="cart__item-list">
      <% products.forEach(p=>{ %>
        <li class="cart__item">
          <h1>Petrol : <%= p.product.petrol %></h1>
          <h1>Diesel : <%= p.product.diesel %></h1>
        </li>
        <%})%>
    </ul>
    <div class="centered">
      <h2 style="color: #fff;">Total: <%= totalPrice %></h2>
    </div>
    <div class="centered">
      <button id="order-btn" class="btn">ORDER</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
          var stripe = Stripe('pk_test_51H4kbbCG8zCedipoUtEYGS7wwn4AqxTGEowcVHDnKH601BhAjwEFmE0aif0fWvWLEYWTu4ygqHkWbs1q8IVZ7vNm005AaMDCQ1');
          var orderBtn = document.getElementById('order-btn');
          orderBtn.addEventListener('click', function() {
              stripe.redirectToCheckout({
                  sessionId: '<%= sessionId %>'
              });
          });
      </script>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>
