<%- include('../includes/head.ejs') %>
<style>
  body{
    background: #000046; 
background: linear-gradient(to right, #1cb5e079, #0000467c),url('../../gas-2.jpg');
background-size: cover;
color: #ffffff;
  }
</style>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="centered">
    <h1><%= product.name %></h1>
    <hr>
    <div class="image">
      <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
    </div>
    <h3>Available Petrol: <%= product.petrol %>L | Price: <%= product.petrolAmount %>/L </h3>
    <h3>Available Diesel: <%= product.diesel %>L | Price: <%= product.dieselAmount %>/L </h3>
    <h4><%= product.address %></h4>
    <% if (isAuthenticated) { %>
    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
      <% } %>
      
  </main> 
  <%- include('../includes/end.ejs') %>
